//
//  iOS.xcconfig
//  XFoundation
//
//  Created by yarshure on 2018/1/7.
//  Copyright © 2018年 yarshure. All rights reserved.
//
//OTHER_LDFLAGS = $(inherited)  -framework CommonCrypto
//-framework ObjectMapper
//OTHER_LDFLAGS = $(inherited)  -framework Crypto -framework Sodium -framework IDZSwiftCommonCrypto -framework CocoaAsyncSocket -framework SwiftyJSON -framework MMDB -weak_framework kcp -framework XSocket -framework ObjectMapper -framework Xcon -framework CommonCrypto -framework AxLogger
//FRAMEWORK_SEARCH_PATHS = $(inherited) "$(PROJECT_DIR)/Carthage/Build/iOS"
//LIBRARY_SEARCH_PATHS = $(inherited) "$(PROJECT_DIR)/Carthage/Build/iOS"

